body {
  box-sizing : border-box;
  font-family : sans-serif;
  margin : 0rem 6rem;
}
section {
  /*border-bottom : 1px solid lightgray;*/
  padding : 0.5rem 0rem 1.5rem 0rem;
}
td {
  padding : 0.25rem 1rem 0rem 0rem;
}
.alert {
  color : white;
  margin-top : 0.5rem;
  padding : 0.5rem 1rem;
}
.alert.fail {
  background-color : #ea634d;
}
.alert.success {
  background-color : teal;
}
.button {
  background-color : black;
  border : none;
  color : white;
  font-weight : bold;
  padding : 0.25rem 0.75rem;
}
.button:hover {
  background-color : teal;
  cursor : pointer;
}
